<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSPServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <env-entry>
	<description>Administrator Email Id</description>
	<env-entry-name>ADMIN_EMAIL_ID</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>admin@emailtest.com</env-entry-value>
  </env-entry>
  
  <listener>
  	<display-name>Email Listener</display-name>
  	<listener-class>rp3.EmailListener</listener-class>
  </listener>
  <filter>
  	<filter-name>ClientCheckFilter</filter-name>
  	<filter-class>rp3.ClientCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ClientCheckFilter</filter-name>
  	<servlet-name>LoginController</servlet-name>
  </filter-mapping>
  
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>rp3.servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FromGet</servlet-name>
    <jsp-file>/views/FromGet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FromGet</servlet-name>
    <url-pattern>/fromget</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FromPost</servlet-name>
    <jsp-file>/views/FromPost.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FromPost</servlet-name>
    <url-pattern>/frompost</url-pattern>
  </servlet-mapping>
  
</web-app>